var _ = require('underscore');
var React = require('react');
var Q = require('q');

var BaseController = require('granola/controller');

var <%= name %> = function <%= name %>(){ BaseController.apply(this, arguments) }

<%= name %>.prototype = new BaseController();

_.extend(<%= name %>.prototype, {
		initialize: function(attrs, query, option){ this.render() }
});

module.exports = <%= name %>;
