require('node-jsx').install({extension: '.jsx'});

var http = require('http');
var express = require('express');
var granola = require('granola');
var router = require('./lib/expressRouting');
var app = express();

// you probably want to add alot
app.use(express.json());
app.use(app.router);

//route construction
router(app);

//static files
app.use(express.static(process.cwd()));

/*
 http server
 */
http.createServer(app).listen('3000', function(){
		console.log('Express server listening on port 3000');
});