var _ = require('underscore');
var Model = require('granola/model');

var <%= name %> = function(){ Model.apply(this, arguments) };

<%= name %>.prototype = new Model({});

_.extend(<%= name %>.prototype, {
  <% if(!!defaults) { %>
  defaults: <%= defaults %>
  <% } %>
  //your code goes here
});


module.exports = <%= name %>;
