/** @jsx React.DOM */

var React = require('react');
var _ = require('underscore');

var <%= name %> = React.createClass({

	render: function () {
		return <p>This is a p tag you div</p>;
	}

});


module.exports = <%= name %>;